.cart_image{
    width: 16%;
}
.cart_totals{
    width: 100%;
}

@media screen and (max-width: 800px) {
    .cart_image{
        width: 50%;
    }
    .cart_totals{
        width: 75%;
    }
    
}
@media screen and (max-width: 500px) {
    .cart_image{
        width: 100%;
       
    }
    .cart_totals{
        width: 100%;
    }
    
}